<div class="todo-container">
    <form class="overflow-hidden"
          onsubmit="return false;"
          [ng-form-model]="todoForm">

        <h1 align="center" important-text uppercase [style.color]="titleColor">{{title}}</h1>

    <input type="text"
           logger
           #tmessage
           ng-control="message"
           (keyup.enter)="add(tmessage)"
           [class.error]="!todoForm.valid"
           bad (bad-word)="uWotM8($event);"
           placeholder="what do you have todo?"
           autofocus/>

    <adder todoForm="todoForm"></adder>

    <mouse-goes-here></mouse-goes-here>
    </form>

    <ul action="execAction()">
        <li *ng-for="#t of todoList; #i = index;"
            (click)="remove(t.id);">{{i}}: {{t.message}}</li>
    </ul>

    <something-capitalized text="someText"></something-capitalized>
</div>
