<div class="mdl-layout mdl-js-layout">
    <div class="mdl-layout__content">
        <div class="page-content">
            <div class="container">
                <form onsubmit="return false;"
                      [ng-form-model]="stuffForm">

                    <div class="mdl-textfield mdl-js-textfield">
                        <input type="text"
                               class="mdl-textfield__input"
                               [class.error]="!stuffForm.valid"
                               ng-control="info"
                               autofocus />

                        <div class="right">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                    type="submit"
                                    id="adder"
                                    [disabled]="!stuffForm.valid"
                                    (click)="add()">
                                ADD
                            </button>
                        </div>

                    </div>

                    <br>
                    <small>There are this much stuff: {{stuffCount}}</small>
                </form>
            </div>

            <br><br>

            <div class=" container container-styled">
                <p class="text-center" *ng-if="!stuffList.length">Nothing to see here.</p>

                <card (stuff-removed)="remove($event)" [stuff-list]="stuffList"></card>
            </div>

            <trash-can (dropped-like-its-hot)="somethingDropped($event)"></trash-can>
        </div>
    </div>
</div>

<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }
    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<div class="mdl-card mdl-shadow--2dp demo-card-wide">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
        </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>
