.container {
    max-width: 900px;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-styled {
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),
                0 4px 8px rgba(0,0,0,.28);
}

.container form {
    width: 100%;
}

.card {
    padding: 1em;
    padding-top: 0;
    width: 250px;
    cursor: pointer;
    color: #777;
    height: 175px;
    word-break: break-all;
    border: 1px solid transparent;
    transition: all .7s;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.card .created-at {
    position: absolute;
    color: #ddd;
    bottom: 0;
    right: 10px;
}

.card .close {
    position: absolute;
    top: 0;
    right: 0;
}

.card:hover {
    border-bottom: 1px solid limegreen;
    background-color: #fafbfc;
    color: #333;
}

.container .error {
    border-bottom: 1px solid red;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}

#trash-can {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6em;
    border: 3px dashed gray;
    background-color: lightgray;
}

body {
    height: 100%;
}

input,
input:focus {
    outline: 0;
}