<div class="container">
    <form onsubmit="return false;"
          [ng-form-model]="stuffForm">

        <input type="text"
               [class.error]="!stuffForm.valid"
               (keyup.enter)="add()"
               ng-control="info"
               autofocus/>

        <small>There are this much stuff: {{stuffCount}}</small>
    </form>
</div>

<br><br>

<div class="container container-styled">

    <p class="text-center" *ng-if="!stuffList.length">Nothing to see here.</p>

    <card stuff-list="stuffList"></card>
</div>