<div class="mdl-layout mdl-js-layout">
    <div class="mdl-layout__content">
        <div class="page-content">
            <div class="container">
                <form onsubmit="return false;"
                      [ng-form-model]="stuffForm">

                    <div class="mdl-textfield mdl-js-textfield">
                        <input type="text"
                               class="mdl-textfield__input"
                               [class.error]="!stuffForm.valid"
                               ng-control="info"
                               autofocus />

                        <div class="right">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                    type="submit"
                                    id="adder"
                                    [disabled]="!stuffForm.valid"
                                    (click)="add()">
                                ADD
                            </button>
                        </div>

                    </div>

                    <br>
                    <small>{{subTitle}} {{stuffCount}}</small>
                </form>
            </div>

            <router-outlet></router-outlet>

            <br><br>

            <div class=" container container-styled">
                <p class="text-center" *ng-if="!stuffList.length">Nothing to see here.</p>

                <card (stuff-removed)="remove($event)" [stuff-list]="stuffList"></card>
            </div>

            <trash-can (dropped-like-its-hot)="somethingDropped($event)"></trash-can>
        </div>
    </div>
</div>
