<div class="mdl-layout mdl-js-layout"
     (ded)="alo($event)">
    <div class="mdl-layout__content">
        <div class="page-content">
            <div class="container">
               <small>{{deadStuffCount}}</small>
            </div>

            <div class="container container-styled">
                <p class="text-center" *ng-if="!deadStuffCount">Nothing dead.</p>

                <card (stuff-removed)="remove($event)" [stuff-list]="deadStuffList"></card>
            </div>

        </div>
    </div>
</div>


