#monster_info {
    float: right;
}

#monster_info p {
    text-align: right;
}

#monster_shape {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 130px;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
}
